.hero-container {
    background: url('../assets/urst-bg.JPG') no-repeat center center;
    background-size: cover;
    min-height: 80vh; /* Adjust to 100vh if you want it to cover the entire viewport */
    width: 100vw;    /* Forces width to viewport width */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.hero-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-subtitle {
    color: #f8f9fa;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}

/* Responsive Font Sizes */
@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 2.2rem;
    }
    .hero-subtitle {
        font-size: 1.1rem;
    }
}